# The beauty of our CI setup is that it will build any Dockerfile by 
# setting a variables directly in this Dockerfile. 
# GNU v3 | Please credit the author if you are re-using some of it
# by https://pascalandy.com/ and https://firepress.org/

name: build

on:
  push:
    branches:
      - 'master'
      - 'edge'
    paths-ignore:
      - '**.md'
  pull_request:
    paths-ignore:
      - '**.md'
  schedule:
    - cron: '0 8 * * *'

defaults:
  run:
    shell: 'bash -Eeuo pipefail -x {0}'

jobs:

  pre_build:
    runs-on: ubuntu-20.04
    steps:
      - name: Job preparation | Set timezone
        uses: zcong1993/setup-timezone@v1.1.1
        with:
          timezone: America/Montreal
      -
        name: Job preparation | GitHub Status
        uses: crazy-max/ghaction-github-status@v2
        with:
          overall_threshold: minor
          git_threshold: degraded_performance
          actions_threshold: operational
      -
        name: Job preparation | Checkout
        uses: actions/checkout@v2
      -
        name: Set variables | hardcoded
        # The way we define our variables is very explicit. It makes it easy to add/remove vars
        # Many vars comes from the Dockerfile
        # Hardcoded vars are: DOCKERFILE
        run: |
          mkdir -pv ~/varz
          echo "Dockerfile" > ~/varz/DOCKERFILE
      -
        name: Set variables | EDGE
        if: github.ref == 'refs/heads/edge'
        run: |
          echo "edge" > ~/varz/BRANCH_NAME
      -
        name: Set variables | MASTER
        if: github.ref == 'refs/heads/master'
        run: |
          echo "stable" > ~/varz/BRANCH_NAME
      -
        name: Save variables to disk
        run: |
          cat $(cat ~/varz/DOCKERFILE) | grep APP_NAME= | head -n 1 | grep -o '".*"' | sed 's/"//g' > ~/varz/APP_NAME
          cat $(cat ~/varz/DOCKERFILE) | grep DOCKERHUB_USER= | head -n 1 | grep -o '".*"' | sed 's/"//g' > ~/varz/DOCKERHUB_USER
          cat $(cat ~/varz/DOCKERFILE) | grep GITHUB_ORG= | head -n 1 | grep -o '".*"' | sed 's/"//g' > ~/varz/GITHUB_ORG
          cat $(cat ~/varz/DOCKERFILE) | grep GITHUB_REGISTRY= | head -n 1 | grep -o '".*"' | sed 's/"//g' > ~/varz/GITHUB_REGISTRY
          echo "$(cat ~/varz/DOCKERHUB_USER)/$(cat ~/varz/APP_NAME)" > ~/varz/DKR_PREFIX
          echo "ghcr.io/$(cat ~/varz/GITHUB_ORG)/$(cat ~/varz/GITHUB_REGISTRY)/$(cat ~/varz/APP_NAME)" > ~/varz/GPR_PREFIX
          cat $(cat ~/varz/DOCKERFILE) | grep VERSION= | head -n 1 | grep -o '".*"' | sed 's/"//g' > ~/varz/VERSION
          git rev-parse --short HEAD > ~/varz/SHORT_HASH_COMMIT
          date "+%Y-%m-%d_%HH%Ms%S" > ~/varz/DATE
          echo "$(cat ~/varz/BRANCH_NAME)_$(cat ~/varz/VERSION)_ci_$(cat ~/varz/SHORT_HASH_COMMIT)" > ~/varz/VERSION_CI
          echo "$(cat ~/varz/BRANCH_NAME)_$(cat ~/varz/VERSION)" > ~/varz/VERSION_BRANCH
          echo "$(cat ~/varz/BRANCH_NAME)_$(cat ~/varz/VERSION)_$(cat ~/varz/SHORT_HASH_COMMIT)" > ~/varz/VERSION_HASH_ONLY
          echo "$(cat ~/varz/BRANCH_NAME)_$(cat ~/varz/VERSION)_$(cat ~/varz/SHORT_HASH_COMMIT)_$(cat ~/varz/DATE)" > ~/varz/VERSION_HASH_DATE
          echo "$(cat ~/varz/APP_NAME):$(cat ~/varz/BRANCH_NAME)_$(cat ~/varz/VERSION)_$(cat ~/varz/SHORT_HASH_COMMIT)" > ~/varz/_NOTI_MESSAGE
      - 
        name: Set ALL variables for this job | à la sauce GitHub Actions
        run: |
          echo "VERSION_HASH_DATE=$(cat ~/varz/VERSION_HASH_DATE)" >> $GITHUB_ENV
          echo "VERSION_HASH_ONLY=$(cat ~/varz/VERSION_HASH_ONLY)" >> $GITHUB_ENV
          echo "VERSION_CI=$(cat ~/varz/VERSION_CI)" >> $GITHUB_ENV
          echo "VERSION_BRANCH=$(cat ~/varz/VERSION_BRANCH)" >> $GITHUB_ENV
          echo "BRANCH_NAME=$(cat ~/varz/BRANCH_NAME)" >> $GITHUB_ENV
          echo "VERSION=$(cat ~/varz/VERSION)" >> $GITHUB_ENV
          echo "DKR_PREFIX=$(cat ~/varz/DKR_PREFIX)" >> $GITHUB_ENV
          echo "GPR_PREFIX=$(cat ~/varz/GPR_PREFIX)" >> $GITHUB_ENV
          echo "SHORT_HASH_COMMIT=$(cat ~/varz/SHORT_HASH_COMMIT)" >> $GITHUB_ENV
          echo "DATE=$(cat ~/varz/DATE)" >> $GITHUB_ENV
          echo "DOCKERFILE=$(cat ~/varz/DOCKERFILE)" >> $GITHUB_ENV
          echo "DOCKERHUB_USER=$(cat ~/varz/DOCKERHUB_USER)" >> $GITHUB_ENV
          echo "APP_NAME=$(cat ~/varz/APP_NAME)" >> $GITHUB_ENV
          echo "GITHUB_ORG=$(cat ~/varz/GITHUB_ORG)" >> $GITHUB_ENV
          echo "GITHUB_REGISTRY=$(cat ~/varz/GITHUB_REGISTRY)" >> $GITHUB_ENV
          echo "_NOTI_MESSAGE=$(cat ~/varz/_NOTI_MESSAGE)" >> $GITHUB_ENV
      -
        name: Show variables
        run: |
          echo "${{ env.VERSION_HASH_DATE }} < VERSION_HASH_DATE"
          echo "${{ env.VERSION_HASH_ONLY }} < VERSION_HASH_ONLY"
          echo "${{ env.VERSION_CI }} < VERSION_CI"
          echo "${{ env.VERSION_BRANCH }} < VERSION_BRANCH"
          echo "${{ env.BRANCH_NAME }} < BRANCH_NAME"
          echo "${{ env.VERSION }} < VERSION"
          echo "${{ env.DKR_PREFIX }} < DKR_PREFIX"
          echo "${{ env.GPR_PREFIX }} < GPR_PREFIX"
          echo "${{ env.SHORT_HASH_COMMIT }} < SHORT_HASH_COMMIT"
          echo "${{ env.DATE }} < DATE"
          echo "${{ env.DOCKERFILE }} < DOCKERFILE"
          echo "${{ env.DOCKERHUB_USER }} < DOCKERHUB_USER"
          echo "${{ env.APP_NAME }} < APP_NAME"
          echo "${{ env.GITHUB_ORG }} < GITHUB_ORG"
          echo "${{ env.GITHUB_REGISTRY }} < GITHUB_REGISTRY"
          echo "${{ env._NOTI_MESSAGE }} < _NOTI_MESSAGE"
      - 
        name: Upload variables as artifact
        uses: actions/upload-artifact@master
        with:
          name: variables_on_disk
          path: ~/varz

  build:
    needs: [pre_build]
    runs-on: ubuntu-20.04
    steps:
      - name: Job preparation | Set timezone
        uses: zcong1993/setup-timezone@v1.1.1
        with:
          timezone: America/Montreal
      -
        name: Job preparation | Checkout
        uses: actions/checkout@v2
      - 
        name: Job preparation | Download variables from artifact
        uses: actions/download-artifact@master
        with:
          name: variables_on_disk
          path: ~/varz
      - 
        name: Job preparation | Set variables for this job | à la sauce GitHub Actions
        run: |
          echo "VERSION_HASH_DATE=$(cat ~/varz/VERSION_HASH_DATE)" >> $GITHUB_ENV
          echo "VERSION_HASH_ONLY=$(cat ~/varz/VERSION_HASH_ONLY)" >> $GITHUB_ENV
          echo "VERSION_BRANCH=$(cat ~/varz/VERSION_BRANCH)" >> $GITHUB_ENV
          echo "BRANCH_NAME=$(cat ~/varz/BRANCH_NAME)" >> $GITHUB_ENV
          echo "VERSION_CI=$(cat ~/varz/VERSION_CI)" >> $GITHUB_ENV
          echo "DKR_PREFIX=$(cat ~/varz/DKR_PREFIX)" >> $GITHUB_ENV
          echo "GPR_PREFIX=$(cat ~/varz/GPR_PREFIX)" >> $GITHUB_ENV
          echo "DOCKERFILE=$(cat ~/varz/DOCKERFILE)" >> $GITHUB_ENV
          echo "DOCKERHUB_USER=$(cat ~/varz/DOCKERHUB_USER)" >> $GITHUB_ENV
          echo "GITHUB_ORG=$(cat ~/varz/GITHUB_ORG)" >> $GITHUB_ENV
          echo "APP_NAME=$(cat ~/varz/APP_NAME)" >> $GITHUB_ENV
          echo "_NOTI_MESSAGE=$(cat ~/varz/_NOTI_MESSAGE)" >> $GITHUB_ENV
      -
        name: Set QEMU for Multi-platform docker builds
        uses: docker/setup-qemu-action@v1
      - 
        name: Set docker Buildx on EDGE
        if: github.ref == 'refs/heads/edge'
        uses: docker/setup-buildx-action@v1
        with:
          buildkitd-flags: "--debug"
      - 
        name: Set docker Buildx on MASTER
        if: github.ref == 'refs/heads/master'
        uses: docker/setup-buildx-action@v1
      -
        name: Set cache docker layers
        id: docker-cache
        uses: actions/cache@v2
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-
      - 
        name: Login to DockerHub registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v1
        with:
          username: ${{ env.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - 
        name: Login to GitHub registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ env.GITHUB_ORG }}
          password: ${{ secrets.TOKEN_GPR }}
      -
        name: Build and push VERSION_CI tag (limited to linux/amd64)
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./${{ env.DOCKERFILE }}
          platforms: linux/amd64
          push: true
          tags: |
            ${{ env.DKR_PREFIX }}:${{ env.VERSION_CI }}
            ${{ env.GPR_PREFIX }}:${{ env.VERSION_CI }}
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache
      - 
        name: Checkpoint | Test Ghost container
        run: |
          docker run -d --name blogtest -p 2368:2368 -e WEB_URL=http://localhost:2368 -e NODE_ENV=production ${{ env.DKR_PREFIX }}:${{ env.VERSION_CI }}
          until $(curl --output /dev/null --silent --head --fail http://localhost:2368); do
            echo "waiting for ghostblog container...";
            sleep 4;
          done;
          curl http://localhost:2368 | grep "The professional publishing platform"
          git clone --depth 1 https://github.com/docker-library/official-images.git official-images
          ### overide config.sh We must bypass UTC timezone test
          cp ./test/config.sh official-images/test/config.sh
          official-images/test/run.sh ${{ env.DKR_PREFIX }}:${{ env.VERSION_CI }}
      - 
        name: Checkpoint | multi-platform images, docker inspect, history, version, info, uname
        run: |
          docker run --rm mplatform/mquery ${{ env.DKR_PREFIX }}:${{ env.VERSION_CI }} && echo && echo
          docker inspect ${{ env.DKR_PREFIX }}:${{ env.VERSION_CI }} && echo && echo
          docker history ${{ env.DKR_PREFIX }}:${{ env.VERSION_CI }} --no-trunc && echo && echo
          docker version && echo && echo
          docker info && echo && echo
          uname -a
      -
        name: EDGE | buildx and push all tags (limited to linux/amd64)
        if: github.ref == 'refs/heads/edge'
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./${{ env.DOCKERFILE }}
          platforms: linux/amd64
          push: true
          tags: |
            ${{ env.DKR_PREFIX }}:${{ env.BRANCH_NAME }}
            ${{ env.DKR_PREFIX }}:${{ env.VERSION_BRANCH }}
            ${{ env.DKR_PREFIX }}:${{ env.VERSION_HASH_ONLY }}
            ${{ env.DKR_PREFIX }}:${{ env.VERSION_HASH_DATE }}
            ${{ env.GPR_PREFIX }}:${{ env.BRANCH_NAME }}
            ${{ env.GPR_PREFIX }}:${{ env.VERSION_BRANCH }}
            ${{ env.GPR_PREFIX }}:${{ env.VERSION_HASH_ONLY }}
            ${{ env.GPR_PREFIX }}:${{ env.VERSION_HASH_DATE }}
          # The order for <docker push -tag> matters for our CD down the line.
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache
      -
        name: MASTER | buildx and push all tags (using multi-platform)
        if: github.ref == 'refs/heads/master'
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./${{ env.DOCKERFILE }}
          # linux/arm/v6 not included as fetching packages is unstable
          platforms: linux/amd64,linux/arm64,linux/arm/v7
          push: true
          tags: |
            ${{ env.DKR_PREFIX }}:${{ env.VERSION_HASH_DATE }}
            ${{ env.DKR_PREFIX }}:${{ env.VERSION_HASH_ONLY }}
            ${{ env.DKR_PREFIX }}:${{ env.VERSION_BRANCH }}
            ${{ env.DKR_PREFIX }}:${{ env.BRANCH_NAME }}
            ${{ env.GPR_PREFIX }}:${{ env.VERSION_HASH_DATE }}
            ${{ env.GPR_PREFIX }}:${{ env.VERSION_HASH_ONLY }}
            ${{ env.GPR_PREFIX }}:${{ env.VERSION_BRANCH }}
            ${{ env.GPR_PREFIX }}:${{ env.BRANCH_NAME }}
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache

  post_build_actions:
    needs: [build]
    runs-on: ubuntu-20.04
    steps:
      - name: Job preparation | Set timezone
        uses: zcong1993/setup-timezone@v1.1.1
        with:
          timezone: America/Montreal
      -
        name: Job preparation | Checkout
        uses: actions/checkout@v2
      - 
        name: Job preparation | Download variables from artifact
        uses: actions/download-artifact@master
        with:
          name: variables_on_disk
          path: ~/varz
      - 
        name: Job preparation | Set variables for this job | à la sauce GitHub Actions
        run: |
          echo "VERSION_HASH_DATE=$(cat ~/varz/VERSION_HASH_DATE)" >> $GITHUB_ENV
          echo "VERSION_HASH_ONLY=$(cat ~/varz/VERSION_HASH_ONLY)" >> $GITHUB_ENV
          echo "VERSION_BRANCH=$(cat ~/varz/VERSION_BRANCH)" >> $GITHUB_ENV
          echo "BRANCH_NAME=$(cat ~/varz/BRANCH_NAME)" >> $GITHUB_ENV
          echo "VERSION_CI=$(cat ~/varz/VERSION_CI)" >> $GITHUB_ENV
          echo "DKR_PREFIX=$(cat ~/varz/DKR_PREFIX)" >> $GITHUB_ENV
          echo "GPR_PREFIX=$(cat ~/varz/GPR_PREFIX)" >> $GITHUB_ENV
          echo "DOCKERFILE=$(cat ~/varz/DOCKERFILE)" >> $GITHUB_ENV
          echo "DOCKERHUB_USER=$(cat ~/varz/DOCKERHUB_USER)" >> $GITHUB_ENV
          echo "GITHUB_ORG=$(cat ~/varz/GITHUB_ORG)" >> $GITHUB_ENV
          echo "APP_NAME=$(cat ~/varz/APP_NAME)" >> $GITHUB_ENV
          echo "_NOTI_MESSAGE=$(cat ~/varz/_NOTI_MESSAGE)" >> $GITHUB_ENV
      - 
        name: via SSH | Continous deployment for edge
        if: github.ref == 'refs/heads/edge'
        uses: appleboy/ssh-action@v0.1.4
        with:
          host: ${{ secrets.NODE1 }}
          port: ${{ secrets.SSH_PORT }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_KEY_ACTIONS }}
          passphrase: ${{ secrets.SSH_KEY_ACTIONS_PASSPHRASE }}
          script: |
            ${{ secrets.SSH_CMD__UPDATE_DKR_IMG_EDGE }}
            hostname
          #sync: true 
          #host: "${{ secrets.NODE1 }},${{ secrets.NODE2 }},${{ secrets.NODE3 }}"
          # alt projet: fifsky/ssh-action@master https://github.com/appleboy/ssh-action/issues/80#issuecomment-759473472
      - 
        name: via SSH | Continous deployment for master
        if: github.ref == 'refs/heads/master'
        uses: appleboy/ssh-action@v0.1.4
        with:
          host: ${{ secrets.NODE1 }}
          port: ${{ secrets.SSH_PORT }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_KEY_ACTIONS }}
          passphrase: ${{ secrets.SSH_KEY_ACTIONS_PASSPHRASE }}
          script: |
            ${{ secrets.SSH_CMD__UPDATE_DKR_IMG_STABLE }}
            hostname
      - 
        name: Update README on Dockerhub
        if: github.ref == 'refs/heads/master'
        run: |
          docker run --rm \
            -v $(pwd)/README.md:/data/README.md \
            -e DOCKERHUB_USERNAME=${{ env.DOCKERHUB_USER }} \
            -e DOCKERHUB_PASSWORD=${{ secrets.DOCKERHUB_PASSWORD }} \
            -e DOCKERHUB_REPO_PREFIX=${{ env.DOCKERHUB_USER }} \
            -e DOCKERHUB_REPO_NAME=${{ env.APP_NAME }} \
            devmtl/readme-to-dockerhub:stable
      -
        name: Notify slack
        run: |
          docker run --rm \
            --name noti \
            -e NOTI_MESSAGE='${{ env._NOTI_MESSAGE }}' \
            -e SLACK_CHANNEL="github-actions" \
            -e SLACK_TOKEN_CRON="${{ secrets.TOKEN_SLACK }}" \
            devmtl/noti:stable sh -c \
              ' NOTI_SLACK_TOKEN="$SLACK_TOKEN_CRON" \
                NOTI_SLACK_CHANNEL="$SLACK_CHANNEL" \
                noti -k -m "$NOTI_MESSAGE" '

  post_build_audits:
    needs: [build]
    runs-on: ubuntu-20.04
    steps:
      - name: Job preparation | Setup timezone
        uses: zcong1993/setup-timezone@v1.1.1
        with:
          timezone: America/Montreal
      -
        name: Job preparation | Checkout
        uses: actions/checkout@v2
      - 
        name: Job preparation | Download variables from artifact
        uses: actions/download-artifact@master
        with:
          name: variables_on_disk
          path: ~/varz
      - 
        name: Job preparation | Set variables for this job | à la sauce GitHub Actions
        run: |
          echo "VERSION_HASH_DATE=$(cat ~/varz/VERSION_HASH_DATE)" >> $GITHUB_ENV
          echo "VERSION_HASH_ONLY=$(cat ~/varz/VERSION_HASH_ONLY)" >> $GITHUB_ENV
          echo "VERSION_BRANCH=$(cat ~/varz/VERSION_BRANCH)" >> $GITHUB_ENV
          echo "BRANCH_NAME=$(cat ~/varz/BRANCH_NAME)" >> $GITHUB_ENV
          echo "VERSION_CI=$(cat ~/varz/VERSION_CI)" >> $GITHUB_ENV
          echo "DKR_PREFIX=$(cat ~/varz/DKR_PREFIX)" >> $GITHUB_ENV
          echo "GPR_PREFIX=$(cat ~/varz/GPR_PREFIX)" >> $GITHUB_ENV
          echo "DOCKERFILE=$(cat ~/varz/DOCKERFILE)" >> $GITHUB_ENV
          echo "DOCKERHUB_USER=$(cat ~/varz/DOCKERHUB_USER)" >> $GITHUB_ENV
          echo "GITHUB_ORG=$(cat ~/varz/GITHUB_ORG)" >> $GITHUB_ENV
          echo "APP_NAME=$(cat ~/varz/APP_NAME)" >> $GITHUB_ENV
          echo "_NOTI_MESSAGE=$(cat ~/varz/_NOTI_MESSAGE)" >> $GITHUB_ENV
      - 
        name: Audit | Lighthouse
        uses: treosh/lighthouse-ci-action@v3
        with:
          urls: |
            https://trial.firepress.link/edge/publishing-options/
            https://trial.firepress.link/edge/the-editor/
          #budgetPath: ./budget.json # test performance budgets
          uploadArtifacts: true # save results as an action artifacts
          temporaryPublicStorage: true # upload lighthouse report to the temporary storage
      - 
        name: Audit | Artillery
        id: load-test
        uses: kenju/github-actions-artillery@master
        with:
          filepath: ./.github/load-test.yml
      - 
        name: Audit | scanner by Dockle
        run: |
          export DOCKLE_LATEST=$(curl --silent "https://api.github.com/repos/goodwithtech/dockle/releases/latest" | grep '"tag_name":' | sed -E 's/.*"v([^"]+)".*/\1/')
          docker run --rm goodwithtech/dockle:v${DOCKLE_LATEST} ${{ env.DKR_PREFIX }}:${{ env.VERSION_HASH_DATE }}
      - 
        name: Checkpoint | scanner by Trivy
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: '${{ env.DKR_PREFIX }}:${{ env.VERSION_HASH_DATE }}'
          format: 'table'
          exit-code: '0'
          ignore-unfixed: true
          severity: 'LOW,MEDIUM,HIGH,CRITICAL'

        # uses: brpaz/hadolint-action@master
        # warning crash the ci
        # https://github.com/brpaz/hadolint-action/issues/17

        # Send Github action logs to a PR or commits them

        # post_build_cache:
        # The strategy to save build time on master branch does not work at this point.
        # That's because cache hit occurred on the primary key Linux-buildx-2f94a386b0106b66be4adacf39febfd8eac9dde5, not saving cache.
